[summary]
build_order = energy,reactor,nu_energy
data_axes = energy
pdf_dir =

[energy]
n_bins=140
min=1
max=8
branch_name=energy
tex_name=Reconstructed Energy, MeV

[reactor]
n_bins=483
min=0
max=483
branch_name=reactorIndex
tex_name=Reactor Number

[nu_energy]
n_bins=140
min=1
max=8
branch_name=nu_energy
tex_name=True Neutrino Energy, MeV
