\#*
*~
*.pyc
*.sh.*
*.pdf
*.root
*.h5
*.err
*.out

data/*
fit/bin/make_trees
fit/bin/split_data
fit/bin/make_pdfs
fit/bin/fit_dataset
fit/bin/up_count_lim
fit/bin/build_azimov
fit/bin/split_half
fit/bin/smooth_pdfs
fit/bin/sum_pdfs
fit/bin/sum_pdfs_3d
fit/bin/slice_pdfs

data_manip/clean_alpha_n
data_manip/cut_bipos
data_manip/remove_notrigs

fit/lib/*
last/*.root
last/*.h5
last/pdfs/*.root
last/pdfs/*.txt
last/pdfs/*.h5
last/pdfs/projections/*.root
last/pdfs/smoothing/*.root
last/pdfs/smoothing/*.txt
last/pdfs/smoothing/*.h5

fit/build/
last/pdfs/expected/
last/pdfs/originals/
last/pdfs/smoothing/to_h5
